.font-primary {
  font-family: var(--font-primary);
}
.font-secondary {
  font-family: var(--font-secondary);
}

.expression {
  font-size: var(--font-size-base-expression);
  line-height: var(--line-height-base-expression);
}

.pitch {
  font-size: var(--font-size-base-pitch);
  line-height: var(--line-height-base-pitch);
}

.sentence {
  font-size: var(--font-size-base-sentence);
  line-height: var(--line-height-base-sentence);
}

.misc-info {
  font-size: var(--font-size-base-misc-info);
  line-height: var(--line-height-base-misc-info);
}

.hint {
  font-size: var(--font-size-base-hint);
  line-height: var(--line-height-base-hint);
}

@media (min-width: 40rem) {
  .expression {
    font-size: var(--font-size-sm-expression);
    line-height: var(--line-height-sm-expression);
  }

  .pitch {
    font-size: var(--font-size-sm-pitch);
    line-height: var(--line-height-sm-pitch);
  }

  .sentence {
    font-size: var(--font-size-sm-sentence);
    line-height: var(--line-height-sm-sentence);
  }

  .misc-info {
    font-size: var(--font-size-sm-misc-info);
    line-height: var(--line-height-sm-misc-info);
  }

  .hint {
    font-size: var(--font-size-sm-hint);
    line-height: var(--line-height-sm-hint);
  }
}
