.definition-field {
  ol {
    list-style-position: inside;
  }

  ul {
    list-style-position: inside;
  }

  /*
  *   ────────────────────────────── Jitendex ─────────────────────────────
  */
  [data-sc-content="example-sentence"] {
    background-color: var(--color-base-300) !important;
    border-color: var(--color-primary) !important;
    span[style^="color"] {
      color: var(--color-base-content-primary) !important;
    }
  }

  [data-sc-content="example-keyword"] {
    color: var(--color-base-content-primary) !important;
  }

  [data-sc-content="sense-note"] {
    background-color: var(--color-base-300) !important;
    border-color: var(--color-warning) !important;
    div[style*="color"] {
      color: var(--color-base-content-soft) !important;
    }
  }

  span[style*="color: rgb(86, 86, 86)"] {
    background-color: var(--color-secondary) !important;
    color: var(--color-secondary-content) !important;
  }

  span[style*="background-color: brown"] {
    background-color: var(--color-accent) !important;
    color: var(--color-accent-content) !important;
  }

  span[style*="background-color: purple"] {
    background-color: var(--color-primary) !important;
    color: var(--color-primary-content) !important;
  }

  li[data-dictionary*="Jitendex.org"] {
    i:first-child {
      color: var(--color-base-content-calm) !important;
    }
  }

  /*
  *   ─────────────────────────────── JMdict ──────────────────────────────
  */

  [data-details="JMdict"] > .dict-group__tag-list::before {
    content: "(";
  }

  [data-details="JMdict"] > .dict-group__tag-list::after {
    content: ") ";
  }

  [data-details="JMdict"]
    .dict-group__tag-list
    .dict-group__tag:not(:first-child)::before {
    content: ", ";
  }

  ol:has(> li[data-details="JMdict"]) {
    list-style-type: disc;
  }

  ol:has(> li[data-dictionary^="JMdict"]) {
    list-style-type: disc;
  }

  ol:has(> li[data-dictionary^="JMdict"]) ul {
    padding-left: 1em;
    list-style-type: circle;
  }
}
