@import "tailwindcss";
@import "./tailwindFontSize.css";

@plugin "daisyui" {
  themes: false;
  include:
    properties, reset, rootcolor, rootscrollgutter, rootscrolllock, svg, scrollbar, button, input, label, fieldset, select, alert, badge,
    toast, collapse, status, toggle;
}

@layer base {
  [data-use-system-font-primary="true"] [data-font-primary="true"] {
    font-family: var(--system-font-primary);
  }
  [data-use-system-font-secondary="true"] [data-font-secondary="true"] {
    font-family: var(--system-font-secondary);
  }
  [data-use-system-font-primary="false"][data-web-font-primary="Hina Mincho"]
    [data-font-primary="true"],
  [data-use-system-font-secondary="false"][data-web-font-secondary="Hina Mincho"]
    [data-font-secondary="true"] {
    font-family: "Hina Mincho", serif;
    font-weight: 400;
    font-style: normal;
  }
  [data-use-system-font-primary="false"][data-web-font-primary="Klee One"]
    [data-font-primary="true"],
  [data-use-system-font-secondary="false"][data-web-font-secondary="Klee One"]
    [data-font-secondary="true"] {
    font-family: "Klee One", cursive;
    font-weight: 400;
    font-style: normal;
  }
  [data-use-system-font-primary="false"][data-web-font-primary="IBM Plex Sans JP"]
    [data-font-primary="true"],
  [data-use-system-font-secondary="false"][data-web-font-secondary="IBM Plex Sans JP"]
    [data-font-secondary="true"] {
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@font-face {
  font-family: "Hina Mincho";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("_kiku_font_hina-mincho.woff2") format("woff2");
}

@font-face {
  font-family: "Klee One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("_kiku_font_klee-one.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans JP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("_kiku_font_ibm-plex-sans-jp.woff2") format("woff2");
}

/* biome-ignore format: this looks nicer */
@theme {
  --color-base-content-primary: black;
  --color-base-content-subtle-100: color-mix( in srgb, var(--color-base-content) 10%, var(--color-base-100));
  --color-base-content-subtle-200: color-mix( in srgb, var(--color-base-content) 20%, var(--color-base-100));
  --color-base-content-subtle-300: color-mix( in srgb, var(--color-base-content) 30%, var(--color-base-100));
  --color-base-content-subtle-400: color-mix( in srgb, var(--color-base-content) 40%, var(--color-base-100));
  --color-base-content-subtle-500: color-mix( in srgb, var(--color-base-content) 50%, var(--color-base-100));
  --color-base-content-subtle-600: color-mix( in srgb, var(--color-base-content) 60%, var(--color-base-100));
  --color-base-content-subtle-700: color-mix( in srgb, var(--color-base-content) 70%, var(--color-base-100));
  --color-base-content-subtle-800: color-mix( in srgb, var(--color-base-content) 80%, var(--color-base-100));
  --color-base-content-subtle-900: color-mix( in srgb, var(--color-base-content) 90%, var(--color-base-100));
  --color-base-content-faint: var(--color-base-content-subtle-300);
  --color-base-content-soft: var(--color-base-content-subtle-500);
  --color-base-content-calm: var(--color-base-content-subtle-700);
}

/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "light";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "dark";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "cupcake";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "bumblebee";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "emerald";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "corporate";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "synthwave";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "retro";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "cyberpunk";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "valentine";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "halloween";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "garden";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "forest";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "aqua";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "lofi";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "pastel";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "fantasy";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "wireframe";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "black";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "luxury";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "dracula";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "cmyk";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "autumn";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "business";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "acid";
  --color-base-content-primary: color-mix( in srgb, var(--color-primary) 50%, var(--color-base-content));
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "lemonade";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "night";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "coffee";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "winter";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "dim";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "nord";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "sunset";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "carramelta";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "abyss";
  --color-base-content-primary: var(--color-primary);
}
/* biome-ignore format: this looks nicer */
@plugin "daisyui/theme" {
  name: "silk";
  --color-base-content-primary: var(--color-primary);
}

@custom-variant hover (&:hover);

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

html {
  font-size: 1rem;
}

body {
  margin: 0rem;
  background: var(--color-base-100);
}

@theme {
  --animate-fade-in: fade-in 400ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(4px); /* subtle lift */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme {
  --animate-fade-in-sm: fade-in-sm 300ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fade-in-sm {
  from {
    opacity: 0;
    transform: translateY(2px); /* subtle lift */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility gutter-stable {
  scrollbar-gutter: stable;
}

@utility pitch-segment {
  position: relative;
}

@layer utilities {
  .pitch-segment::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 8px;
  }

  [data-is-even="true"] .pitch-segment::after {
    background-color: var(--color-primary); /* match text/border color */
  }
  [data-is-even="false"] .pitch-segment::after {
    background-color: var(--color-secondary); /* match text/border color */
  }
}

@layer utilities {
  .picture-field-background {
    @apply [&_*:not(img)]:contents;
    @apply [&_img]:absolute [&_img]:size-full [&_img]:object-cover [&_img]:object-center;
    @apply [&_img]:scale-110 [&_img]:filter [&_img]:brightness-50 [&_img]:blur-[16px];
  }

  .picture-field {
    @apply [&_*:not(img)]:contents;
    @apply relative h-full cursor-pointer;
    @apply [&_img]:h-48 sm:[&_img]:h-full [&_img]:object-contain [&_img]:mx-auto;
    @apply [&_img]:hover:filter-none;
    &[data-nsfw="true"],
    &[data-tags~="nsfw"],
    &[data-tags~="NSFW"],
    &[data-tags~="Nsfw"] {
      @apply [&_img]:filter [&_img]:blur-[16px] [&_img]:brightness-50;
    }
    &[data-transition="true"] {
      @apply [&_img]:transition-[filter];
    }
  }

  .picture-field:hover {
    @apply [&_img]:filter-none;
  }

  .picture-modal {
    @apply absolute z-20 top-0 left-0 w-full h-full p-4 sm:p-8 bg-black/75 flex justify-center items-center [&_*:not(img)]:contents transition-opacity;
    &[data-modal-hidden="true"] {
      @apply hidden;
    }
    &[data-modal-transparent="true"] {
      @apply opacity-0;
    }
  }

  .sentence-front {
    @apply hidden flex-col gap-4 items-center text-center;
    &[data-is-audio-card]:not([data-is-audio-card=""]),
    &[data-is-sentence-card]:not([data-is-sentence-card=""]),
    &[data-is-word-and-sentence-card]:not([data-is-word-and-sentence-card=""]) {
      @apply flex;
    }
    &[data-is-click-card][data-clicked="true"]:not(
        [data-is-click-card=""][data-clicked="true"]
      ) {
      @apply flex;
    }
  }
}

/*
 *    ────────────────────────────── Jitendex ─────────────────────────────
*/
[data-sc-content="example-sentence"] {
  background-color: var(--color-base-300) !important;
  border-color: var(--color-primary) !important;
}

[data-sc-content="example-keyword"] {
  color: var(--color-base-content-primary) !important;
}

[data-jitendex-tag="true"] {
  background-color: var(--color-secondary) !important;
  color: var(--color-secondary-content) !important;
}

[data-jitendex-i="true"] {
  color: var(--color-base-content-calm) !important;
}

/*
 *    ─────────────────────────────── JMdict ──────────────────────────────
*/

[data-details="JMdict"] > .dict-group__tag-list::before {
  content: "(";
}

[data-details="JMdict"] > .dict-group__tag-list::after {
  content: ") ";
}

[data-details="JMdict"]
  .dict-group__tag-list
  .dict-group__tag:not(:first-child)::before {
  content: ", ";
}

ol:has(> li[data-details="JMdict"]) {
  list-style-type: disc;
}
