@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@custom-variant hover (&:hover);

body {
  margin: 2em;
}

@media (max-width: 640px) {
  body {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
}
