@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@theme {
  --color-base-content-primary: black;
  --color-base-content-subtle-100: color-mix(
    in srgb,
    var(--color-base-content) 10%,
    var(--color-base-100)
  );
  --color-base-content-subtle-200: color-mix(
    in srgb,
    var(--color-base-content) 20%,
    var(--color-base-100)
  );
  --color-base-content-subtle-300: color-mix(
    in srgb,
    var(--color-base-content) 30%,
    var(--color-base-100)
  );
  --color-base-content-subtle-400: color-mix(
    in srgb,
    var(--color-base-content) 40%,
    var(--color-base-100)
  );
  --color-base-content-subtle-500: color-mix(
    in srgb,
    var(--color-base-content) 50%,
    var(--color-base-100)
  );
  --color-base-content-subtle-600: color-mix(
    in srgb,
    var(--color-base-content) 60%,
    var(--color-base-100)
  );
  --color-base-content-subtle-700: color-mix(
    in srgb,
    var(--color-base-content) 70%,
    var(--color-base-100)
  );
  --color-base-content-subtle-800: color-mix(
    in srgb,
    var(--color-base-content) 80%,
    var(--color-base-100)
  );
  --color-base-content-subtle-900: color-mix(
    in srgb,
    var(--color-base-content) 90%,
    var(--color-base-100)
  );

  --color-base-content-faint: var(--color-base-content-subtle-300);
  --color-base-content-soft: var(--color-base-content-subtle-500);
  --color-base-content-calm: var(--color-base-content-subtle-700);
}

@plugin "daisyui/theme" {
  name: "light";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "cupcake";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "bumblebee";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "emerald";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "corporate";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "synthwave";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "retro";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "cyberpunk";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "valentine";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "halloween";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "garden";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "forest";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "aqua";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "lofi";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "pastel";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "fantasy";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "wireframe";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "black";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "luxury";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "dracula";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "cmyk";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "autumn";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "business";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "acid";
  --color-base-content-primary: color-mix(
    in srgb,
    var(--color-primary) 50%,
    var(--color-base-content)
  );
}
@plugin "daisyui/theme" {
  name: "lemonade";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "night";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "coffee";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "winter";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "dim";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "nord";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "sunset";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "carramelta";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "abyss";
  --color-base-content-primary: var(--color-primary);
}
@plugin "daisyui/theme" {
  name: "silk";
  --color-base-content-primary: var(--color-primary);
}

@custom-variant hover (&:hover);

body {
  margin: 2em;
}

@media (max-width: 640px) {
  body {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }
}

.gutter-stable {
  scrollbar-gutter: stable;
}

@theme {
  --animate-fade-in: fade-in 400ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(4px); /* subtle lift */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme {
  --animate-fade-in-sm: fade-in-sm 300ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fade-in-sm {
  from {
    opacity: 0;
    transform: translateY(2px); /* subtle lift */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
 *    ────────────────────────────── Jitendex ─────────────────────────────
*/
[data-sc-content="example-sentence"] {
  background-color: var(--color-base-300) !important;
  border-color: var(--color-primary) !important;
}

[data-sc-content="example-keyword"] {
  color: var(--color-base-content-primary) !important;
}

/*
 *    ─────────────────────────────── JMdict ──────────────────────────────
*/

[data-details="JMdict"] > .dict-group__tag-list::before {
  content: "(";
}

[data-details="JMdict"] > .dict-group__tag-list::after {
  content: ") ";
}

[data-details="JMdict"]
  .dict-group__tag-list
  .dict-group__tag:not(:first-child)::before {
  content: ", ";
}

ol:has(> li[data-details="JMdict"]) {
  list-style-type: square;
}
